.salfwp-page #wpwrap { background: linear-gradient(225deg,#fd3358,#ffc63f 49%,#FF9900);background-position: 100% 100%;background-repeat: no-repeat;}
.salfwp-page .update-nag { display:none; }

.salfwp-page .salfwp-config {background:#fff;box-shadow: 0 0 10px rgba(0, 0, 0, .2); margin:20px 20px 20px 0; border-radius: 6px;}
.salfwp-page .salfwp-header {padding:20px 30px;border-bottom:1px solid #dcdcdc;display:flex;justify-content: space-between;align-items: center;}
.salfwp-page .salfwp-header .heading-top {margin:0;padding:0 0 0 40px;position:relative;}
.salfwp-page .salfwp-header .heading-top:before {content:'';position:absolute;left:0;display:inline-block;background:transparent url('../images/salfwp-icon.png'); width:32px;height:32px;}
.salfwp-page .salfwp-header .heading-top small {color:#d6d6d6;font-size:13px;}
.salfwp-page .salfwp-header .link-button { border-radius: 5px;background: #e7e7e7;color: #444f5b;display:inline-block;font-size:12px;padding:3px 8px;text-decoration: none;}
.salfwp-page .salfwp-body   {padding:30px;}

.salfwp-option-section {display:flex;}
.salfwp-option-section + .salfwp-option-section {border-top:1px solid #dcdcdc;padding-top:21px;margin-top:20px;}
.salfwp-option-section .salfwp-option-section-info {flex:0 0 35%;max-width:35%;}
.salfwp-option-section .salfwp-option-section-info-name { font-size: 20px;line-height: 20px;margin: 0 0 15px;}
.salfwp-option-section .salfwp-option-section-info-caption { color: #808d9b;font-size: 13px;font-weight: 400;line-height: 1.84615385;text-align: justify; }
.salfwp-option-section .salfwp-option-section-container {flex-grow: 1;padding-left:40px;padding-top:25px;}

.salfwp-input-field,
.salfwp-dropdown    {width:50%;min-height:41px;border-radius:6px;padding:5px 10px!important;}
.salfwp-editors {min-height:300px;}

.salfwp-hidden-control {display:none;}

.salfwp-input-toggle {position:absolute;display:none!important;}
.salfwp-input-toggle+label {text-align:center;display: inline-block;position: relative;overflow: hidden;width: 60px;height: 22px;border-radius: 20px;cursor: pointer;background: #ececec;transition: all .3s ease;}
.salfwp-input-toggle+label:after {content:attr(data-off);color: #808d9b;position:absolute;top:1px;right:13px;}
.salfwp-input-toggle+label > i {display: block;position: absolute;overflow: hidden;top: 3px;left: 3px;width: 16px;height: 16px;background: linear-gradient(0deg,#f9f9f9,#fff);border-radius: 50% 50%;transition: all .3s ease;}
.salfwp-input-toggle:hover+label {background:#ddd;}
.salfwp-input-toggle:checked+label,
.salfwp-input-toggle:hover:checked+label {background:#02c23c;color:#fff;}
.salfwp-input-toggle:checked+label:after {content:attr(data-on);color:#fff;right:25px;}
.salfwp-input-toggle:checked+label > i {background:#fff;left:auto;right:3px;}

.salfwp-option-section-button {text-align:right;}
.salfwp-option-button {border:1px solid #fd3358;background:#fd3358;color:#fff;padding:10px 20px 12px;border-radius:6px;display:inline-block;margin-left:auto;cursor:pointer;transition: all .3s ease;}
.salfwp-option-button:hover {border:1px solid #ef183f;background:#ef183f;}
.w {display:inline-block;border-radius:10px;padding:5px 10px;padding-left:20px;height:20px;background: #ececec;}